@model Animais360.Models.AreaProtegida

@{
    IList<Continente> Continentes = ViewBag.Continentes;
    IList<Pais> Paises = ViewBag.Paises;
    ViewBag.Title = "Edit";
}

<div class="content">
    <div class="content-header">
        <h2 class="content-title"><i class="fa fa-dashboard"></i>Adicionar Área Protegida</h2>
    </div>
    <div class="content-body">
        <div id="panel-tablesorter" class="panel panel-default">
            <div class="panel-heading bg-white">
                <h3 class="panel-title" style="color:#F39C12; width:250px;">Adicionar Área Protegida</h3>
            </div>

            <div class="panel-body">
                <div class="content-body">

                    @using (Html.BeginForm("Edit", "AreaProtegida", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        
                        @Html.HiddenFor(m => m.AreaProtegidaID)
                        <div data-wizard="">
                            <section>
                                <div class="form-group">
                                    @Html.LabelFor(mo => mo.AreaNome, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(m => m.AreaNome, new { @class = "form-control", id = "Input", required = "", autocomplete = "on" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.IdPais, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-5">
                                        <select id="IdPais" name="IdPais" data-input="selectboxit">
                                            @foreach (Continente c in Continentes)
                                            {
                                                <optgroup label="@c.ContinenteName">
                                                    @foreach (Pais p in Paises.Where(x => x.Continente.ContinenteId == c.ContinenteId))
                                                    {
                                                        <option value="@p.PaisID"> @p.PaisNome </option>
                                                    }
                                                    <option value="0" selected=""> </option>
                                                </optgroup>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.IdContinente, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-2">
                                        <select id="IdContinente" name="IdContinente" data-input="selectboxit" placeholder="Continente">
                                            <option value="0" selected=""></option>
                                            @foreach (Continente c in Continentes)
                                            {
                                                <option value="@c.ContinenteId"> @c.ContinenteName </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(m => m.NomePais, new { @class = "form-control", id = "NomePais", autocomplete = "on" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Latitude, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control", id = "Latitude", required = "", autocomplete = "on" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Longitude, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-5">
                                        @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control", id = "Longitudes", required = "", autocomplete = "on" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(m => m.Descricao, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-5">
                                        @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control", id = "inputTextarea", required = "", rows = "3" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </section>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-5">
                                    <input class="btn btn-primary" type="submit" value="Confirmar">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AreaProtegida</legend>

        @Html.HiddenFor(model => model.AreaProtegidaID)

        <div class="editor-label">
            @Html.LabelFor(model => model.AreaNome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AreaNome)
            @Html.ValidationMessageFor(model => model.AreaNome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Longitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Longitude)
            @Html.ValidationMessageFor(model => model.Longitude)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Latitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Latitude)
            @Html.ValidationMessageFor(model => model.Latitude)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Permitida)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Permitida)
            @Html.ValidationMessageFor(model => model.Permitida)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
