<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title Animais 360</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-pjax-version" content="v173">
    <link href="~/favicon.ico" rel="shortcut icon" />

    <link href="~/content/3fc417cd.main.css" rel="stylesheet" type="text/css" />
    <link href="~/content/9281c719.vendor.css" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/scripts/39914ff3.vendor-main.js")"></script>
    <script src="@Url.Content("~/scripts/756399db.vendor-usefull.js")"></script>
    <script src="@Url.Content("~/scripts/e7058f60.vendor-form.js")"></script>
    <script src="@Url.Content("~/scripts/37a77790.vendor-table.js")"></script>
    <script src="@Url.Content("~/scripts/fc9d433c.vendor-editor.js")"></script>
    <script src="@Url.Content("~/scripts/5f4fd25b.vendor-util.js")"></script>
    <script src="@Url.Content("~/scripts/89c3d6c9.initializer.js")"></script>
    <script src="@Url.Content("~/scripts/5917523f.main.js")"></script>
</head>

<body>
    @Html.Partial("~/views/user/_headerpartial.cshtml")

    <section class="section">
        @Html.Partial("~/views/user/_sidebar.cshtml")

        @RenderBody()
    </section>

    <a rel="to-top" href="#top"><i class="fa fa-arrow-up"></i></a>
    <footer>
        <p style="margin-left:320px;">
            <small>
                <a style="text-decoration:none; color:#F39C12">Animais 360 &copy;</a>
                Desenvolvido por Diana Lemos, Mariana Medeiros, Mário Leite e Miguel Pinto.
            </small>
        </p>
    </footer>
</body>
</html>
