@model Animais360.Models.Questao

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Questao</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DifQuantitativa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DifQuantitativa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pergunta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pergunta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Resposta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Resposta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hipoteses)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hipoteses)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Imagem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Imagem)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
