@model IEnumerable<Animais360.Models.Questao>

@{
    ViewBag.Title = "Desafios";
}

<div class="content">
    <div class="content-header">
        <h2 class="content-title"><i class="fa fa-dashboard"></i>Dashboard</h2>
    </div>
    <div class="content-body">
        <div id="panel-tablesorter" class="panel panel-default">
            <div class="panel-heading bg-white">
                <div class="panel-actions">
                    <a href="@Url.Action("Create", "Questao", new { id = ViewBag.ID })" style="color:#333; text-decoration:none;">
                        <li class="btn-panel">
                            <i class="fa fa-plus"></i> &nbsp&nbspAdicionar Desafio
                        </li>
                    </a>
                </div>
                <h3 class="panel-title" style="color:#F39C12">Gerir Desafios</h3>
            </div>

            <div class="panel-body">
                <div class="table-responsive table-responsive-datatables">
                    <table class="tablesorter table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Desafio</th>
                                <th>Dificuldade</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model) {
                            <tr>
                                <td> @item.QuestaoID </td>
                                <td> @item.Pergunta </td> 
                                <td> @item.DifQuantitativa </td>

                                @if (@item.Tipo == 1) {
                                    <td> Completar Frase </td>
                                } else {
                                    if (@item.Tipo == 2) {
                                        <td> Pergunta </td>
                                    } else {
                                        if (@item.Tipo == 3) {
                                            <td> Sombras </td>
                                        } else {
                                            if (@item.Tipo == 4) {
                                                <td> Sons </td>
                                            } else {
                                                <td> Derradeiro </td>
                                            } 
                                        }
                                    }
                                }
                               <td style="padding:3px; width:20%; text-align:center">
                                    <div class="">
                                            <a href="@Url.Action("Edit", "Questao", new { id = item.QuestaoID , tipo = item.Tipo })" style="color:white;text-decoration:none">
                                                <li class="btn btn-info">
                                                    <i class="fa fa-pencil fa-fw"></i>&nbspEditar
                                                </li>
                                            </a>
                                        
                                        
                                            <a href="@Url.Action("Delete", "Questao", new { id = item.QuestaoID })" style="color:white;text-decoration:none">
                                                 <li class="btn btn-danger">
                                                <i class="fa fa-trash-o fa-fw"></i>&nbspEliminar
                                                 </li>
                                            </a>
                                       
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="6" class="ts-pager form-horizontal">
                                    <button type="button" class="btn btn-default btn-sm first"><i class="icon-step-backward fa fa-angle-double-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm prev"><i class="icon-arrow-left fa fa-angle-left"></i></button>
                                    <span class="pagedisplay"></span>
                                    <button type="button" class="btn btn-default btn-sm next"><i class="icon-arrow-right fa fa-angle-right"></i></button>
                                    <button type="button" class="btn btn-default btn-sm last"><i class="icon-step-forward fa fa-angle-double-right"></i></button>
                                    <select class="pagesize input-sm" title="Select page size">
                                        <option value="5" selected="selected">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                    </select>
                                    <select class="pagenum input-sm" title="Select page number"></select>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>