@model Animais360.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_layout.cshtml";
}

@if (!Request.IsAuthenticated) {
    <div class="frontend-page">
        <header id="home">
            <!-- BARRA TOPO -->
            <nav class="navbar navbar-inverse no-border" role="navigation" data-spy="affix" data-offset-top="674">
                <div class="container">
                    <div class="collapse navbar-collapse" id="comingsoon-navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="scroll" style="color:#ffffff" href="#home">Início</a></li>
                            <li><a class="scroll" style="color:#ffffff" href="#about">Sobre</a></li>
                            <li><a class="scroll" style="color:#ffffff" href="#tools">Tutorial</a></li>
                            <li><a class="scroll" style="color:#ffffff" href="#features">Regras</a></li>
                            <li><a class="scroll" style="color:#ffffff" href="#estat">Estatísticas</a></li>
                            <li>@Html.ActionLink("Entrar", "Login", "User")</li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- BARRA TOPO -->

            <div class="header-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="">
                                <span class="text-lg text-uppercase">Animais 360</span>
                            </h1>
                            <p class="lead text-uppercase"><span class="text-lg">Um espetacular jogo de estratégia que te leva a testar o limite dos teus conhecimentos.</span></p><br>

                            <p class="flipInX">
                                <a href="#tools" class="btn btn-lg btn-rounded btn-transparent margin-bottom">APRENDE MAIS</a>
                                <a href="@Url.Action("Login", "User")" class="btn btn-lg btn-rounded btn-transparent margin-bottom margin-left">JOGAR AGORA</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!--/-sobre-->
        @Html.Partial("~/views/home/_sobrepartial.cshtml")
        <!--/-sobre-->


        <svg class="bg-cloud" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 100 102" preserveaspectratio="none">
            <path class="bg-white" d="M0 0 L50 100 L100 0 Z" />
        </svg>

        <!--/-tutorial-->
        @Html.Partial("~/views/home/_tutorialpartial.cshtml")
        <!--/-tutorial-->

        <svg class="bg-cloud" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 100 100" preserveaspectratio="none">
            <path class="bg-inverse" d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>

        <!--/-regras-->
        @Html.Partial("~/views/home/_regraspartial.cshtml")
        <!--/-regras-->

        <!--/-estatisticas-->
        @Html.Partial("~/views/home/_estatisticapartial.cshtml")
        <!--/-estatisticas-->

        <svg class="bg-warning" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 100 100" preserveaspectratio="none">
            <path class="no-stroke" fill="#ecf0f1" d="M50 100 C49 80 47 0 40 0 L47 0 Z" />
            <path class="no-stroke" fill="#ecf0f1" d="M50 100 C51 80 53 0 60 0 L53 0 Z" />
            <path class="bg-cloud no-stroke" d="M47 0 L50 100 L53 0 Z" />
        </svg>

        <!--/-final-->
        @Html.Partial("~/views/home/_finalpartial.cshtml")
        <!--/-final-->

        <footer class="footer">
            <div class="container">
                <p style="color:#ffffff; margin-left:290px;">&copy; @DateTime.Now.Year - Desenvolvido por: Diana Lemos, Mariana Medeiros, Mário Leite e Miguel Pinto.</p>
            </div>
        </footer>
    </div>
} else {
    Layout = "~/views/shared/_dashboardlayout.cshtml";
    @RenderPage("~/views/user/index.cshtml")
}
