@model Animais360.Models.Jogo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Jogo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RespCertas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RespCertas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RespErradas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RespErradas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Personagem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Personagem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nivel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nivel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pontos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pontos)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DifQualitativa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DifQualitativa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sucesso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sucesso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataInicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataInicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataFim)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataFim)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.JogoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
