@model Animais360.Models.Jogo
@using Animais360.Models
@{
    ViewBag.Title = "Play";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    List<AreaProtegida> areas = ViewBag.Areas;
}

<script>
    function getQuestaoAux(idArea) {
        document.getElementById('aj1').style.visibility = 'hidden';
        document.getElementById('aj2').style.visibility = 'hidden';
        document.getElementById('aj3').style.visibility = 'hidden';
        
        $.ajax({
            url: '@Url.Action("GetQuestaoArea", "Questao")',
            data: { id: idArea },
            type: 'GET',
            success: function (data) {
                $('#PerguntaID').val(data.id);
                $('#Pergunta').text(data.Pergunta);
                $('#Hipotese1').text(data.Resposta1);
                $('#Hipotese2').text(data.Resposta2);
                $('#Hipotese3').text(data.Resposta3);
                $('#Hipotese4').text(data.Resposta4);
                $('#Ajuda1').text(data.Ajuda1);
                $('#Ajuda2').text(data.Ajuda2);
                $('#Ajuda3').attr("href", data.Ajuda3);

                if (data.Tipo == 3 || data.Tipo == 4) {
                    if(data.Tipo == 3) {
                        $('#Imagem').attr("src", data.Imagem);
                        document.getElementById('Imagem').style.display = 'initial';
                    } else {
                        $('#Som').attr("src", data.Imagem);
                        document.getElementById('Som').style.display = 'initial';
                    }
                } else {
                    document.getElementById('Som').style.display = 'none';
                    document.getElementById('Imagem').style.display = 'none'
                }
            }
        });
        $('#myModal').modal('toggle');
        
    }

    function getQuestao(idArea) {
        var $child = $("#"+idArea);
        if (!($child.css("display") != "none" && $child.css("visibility") != "hidden"))
            getQuestaoAux(idArea);
    }

    function gameOver(fim) {
        var pp = $("#PontosAV").text();
        var certo = parseInt($("#CorretoID").text());
        var errado = parseInt($("#ErradoID").text());

        $.ajax({
            url: '@Url.Action("PostGameOver", "Jogo")',
            data: { id: '@Model.JogoId', pontos: pp, sucess: fim, certas:certo, erradas:errado },
            type: 'POST',
            success: function (data) {
                var url = '@Url.Action("GameOver", "Jogo", new {id = @Model.JogoId })';
                window.location.href = url;
            }
        }); 
    }

    function novoContinente() {
        alert("É necessário mudar de continente!");
        gameOver(1);
    }

    function validaQuestao() {
        var resp = $('input[name=resposta]:checked').val();
        var idp = $('#PerguntaID').val();
        var pp = $("#PontosAV").text();
        var prog = parseInt($("#ProgressoID").text());
        var certo = parseInt($("#CorretoID").text());
        var errado = parseInt($("#ErradoID").text());
        var conts = parseInt($("ContID").text());

        $.ajax({
            url: '@Url.Action("ValidaQuestao", "Questao")',
            data: { id: idp, opcao: resp, pontos:pp, idjogo:'@Model.JogoId' },
            type: 'GET',
            success: function (data) {
                $("#PontosAV").text(data.pontos);
                if (data.gameOver == 1)
                    gameOver(0);
                
                if (data.res == 1) {
                    //alert("Resposta Correta");
                    prog++; certo++;
                    $("#ProgressoID").text(prog);
                    $("#CorretoID").text(certo);

                    document.getElementById(data.idArea).style.visibility = 'visible';
                    $('#myModal').modal('hide');
                } else {
                    errado++;
                    $("#ErradoID").text(errado);

                    alert("Resposta Errada");
                    $('#myModal').modal('hide');
                    //getQuestao(data.idArea);
                }

                if (prog == 6 && conts == 6) {
                    gameOver(1);
                }

                if (prog == 6) {
                    novoContinente();
                }
            }
        });
    }

    function verificaPontos(opcao, i) {
        var pts = parseInt($("#PontosAV").text());

        if (pts >= opcao) {
            pts = pts - opcao;
            $("#PontosAV").text(pts);
            document.getElementById(i).style.visibility = 'visible';
         } else
            alert("Não tens pontos suficientes! :(")
    }
</script>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="Tipo" style="width:45%">
        <div class="modal-content" id="PerguntaID">
            <div class="modal-header">
                <h3 class="modal-title" id="Pergunta"> Pergunta </h3> <br />
                <img src="" id="Imagem" style="display: none" width="180" height="180" />

                <audio id="Som" controls="controls" style="display: none">
                    <source id="Som" src="">
                </audio>
            </div>
            <div class="modal-body">
                <div class="coluu1">
                    @Html.RadioButton("resposta", "1", new { id = "Resposta1" , style ="margin-right: 20px; margin-bottom:20px;" }) @Html.Label("Text Content", new { id = "Hipotese1" }) <br />
                    @Html.RadioButton("resposta", "2", new { id = "Resposta2" , style ="margin-right: 20px; margin-bottom:20px;" }) @Html.Label("Text Content", new { id = "Hipotese2" }) <br />
                </div>
                <div class="coluu2">
                    @Html.RadioButton("resposta", "3", new { id = "Resposta3" , style ="margin-right: 20px; margin-bottom:20px;" }) @Html.Label("Text Content", new { id = "Hipotese3" }) <br />
                    @Html.RadioButton("resposta", "4", new { id = "Resposta4" , style ="margin-right: 20px; margin-bottom:20px;" }) @Html.Label("Text Content", new { id = "Hipotese4" }) <br />
                </div>
            </div>
            <button type="button" class="btn btn-success" style="margin-left:42%;" onclick="validaQuestao()"> Confirmar </button>
            <div class="modal-footer">
                <div class="ajuda">
                
                Ajudas:&nbsp
                    @{
                        if (Model.DifQualitativa == 1) { 
                            <button type="button" class="btn btn-warning" style="margin-left:0px;" onclick="verificaPontos(6,'aj1')"> 6 pontos </button>
                            <button type="button" class="btn btn-warning" onclick="verificaPontos(8,'aj2')"> 8 pontos </button>
                            <button type="button" class="btn btn-warning" onclick="verificaPontos(10,'aj3')"> 10 pontos </button>
                        }
                        
                        if (Model.DifQualitativa == 2) { 
                            <button type="button" class="btn btn-warning" style="margin-left:0px;" onclick="verificaPontos(40,'aj1')"> 40 pontos </button>
                            <button type="button" class="btn btn-warning" onclick="verificaPontos(50,'aj2')"> 50 pontos </button>
                            <button type="button" class="btn btn-warning" onclick="verificaPontos(60,'aj3')"> 60 pontos </button>
                        }
                        
                        if (Model.DifQualitativa == 3) { 
                            <button type="button" class="btn btn-warning" style="margin-left:0px;" onclick="verificaPontos(300,'aj1')"> 300 pontos </button>
                            <button type="button" class="btn btn-warning" onclick="verificaPontos(500,'aj2')"> 500 pontos </button>
                            <button type="button" class="btn btn-warning" onclick="verificaPontos(600,'aj3')"> 600 pontos </button>
                        }
                    }
             </div>
                <div class="textoajuda">
                    <span id="aj1" style="visibility: hidden"> @Html.Label("Text Content", new { id = "Ajuda1" })</span><br/>
                    <span id="aj2" style="visibility: hidden"> @Html.Label("Text Content", new { id = "Ajuda2" })</span><br/>
                    <span id="aj3" style="visibility: hidden"><a id="Ajuda3" href="">Link</a></span>
                </div>
        </div>
    </div>
</div>
</div>

<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:45%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="">A que animal corresponde o som?<br/><br/>
                    
            </div>
            <div class="modal-body">
                <div class="coluu1">
                    @Html.RadioButton("resposta", "1", new { id = "Resposta1" , style ="margin-right: 20px; margin-bottom:20px;" }) @Html.Label("Text Content", new { id = "Hipotese1" }) <br />
                    @Html.RadioButton("resposta", "2", new { id = "Resposta2" , style ="margin-right: 20px; margin-bottom:20px;" }) @Html.Label("Text Content", new { id = "Hipotese2" }) <br />
                </div>
                <div class="coluu2">
                    @Html.RadioButton("resposta", "3", new { id = "Resposta3" , style ="margin-right: 20px; margin-bottom:20px;" }) @Html.Label("Text Content", new { id = "Hipotese3" }) <br />
                    @Html.RadioButton("resposta", "4", new { id = "Resposta4" , style ="margin-right: 20px; margin-bottom:20px;" }) @Html.Label("Text Content", new { id = "Hipotese4" }) <br />
                </div>
            </div>
            <button type="button" class="btn btn-success" style="margin-left:42%;" onclick="validaQuestao()"> Confirmar </button>
            <div class="modal-footer">
                <div class="fcol1">
                Ajudas:<br/><br/>
                <button type="button" class="btn btn-warning" style="margin-left:0px;" data-dismiss="modal">50 pontos</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">75 pontos</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">100 pontos</button>
                </div>
                <div class="fcol2">
                    A ajuda és esta: be-se e está escrito que existe apenas uma pessoa considerada mais linda, maravilhosa, gira e amobe-se e está escrito que existe apenas uma pessoa considerada mais linda, maravilhosa, gira e amobe-se e está escrito que existe apenas uma pessoa considerada mais linda, maravilhosa, gira e amo
                </div>
            </div>
        </div>
    </div>
</div>-->

<!--
*/
-->

<!-- Parte Essencial -->
@{
    string str = null;
    if(Model.DifQualitativa == 1) {
        str = "Fácil";
        ViewBag.Pontos = 50;
    } else {
        if (Model.DifQualitativa == 2) {
            str = "Média";
            ViewBag.Pontos = 300;
        } else {
            str = "Difícil";
            ViewBag.Pontos = 1000;
        }
    }
}
<div class="content">
    <div class="content-body">
        <div class="coluna" style="width:20%; display:block; position:absolute">
            <div class="panel panel-default">
                <div class="panel-body text-center" style="background-color:#F1C40F; color:#fff">
                    Informações
                </div>
                <ul class="list-group bordered-bottom" style="font-size:12px;">
                    <li class="list-group-item text-center">
                        <span>Dificuldade: </span>
                        <a style="text-decoration:none; color:#F39C12"> @str </a>
                    </li>
                    <li class="list-group-item text-center">
                        <span>Continentes Concluídos: </span>
                        <a style="text-decoration:none; color:#F39C12"> <span id="ContID"> @ViewBag.NumConts </span>/ 6 </a>
                    </li>
                    <li class="list-group-item text-center">
                        <span>Progresso neste Coninente: </span>
                        <a style="text-decoration:none; color:#F39C12"> <span id="ProgressoID"> 0 </span>/ 6 </a>
                    </li>
                    <li class="list-group-item text-center">
                        <span>Resposta Corretas: </span>
                        <a style="text-decoration:none; color:#F39C12"> <span id="CorretoID"> 0 </span></a>
                    </li>
                    <li class="list-group-item text-center">
                        <span>Respostas Erradas: </span>
                        <a style="text-decoration:none; color:#F39C12"> <span id="ErradoID"> 0 </span></a>
                    </li>

                    <li class="list-group-item text-center">
                        <span>Pontuação: </span>
                        <a style="text-decoration:none; color:#F39C12" id="PontosAV"> @ViewBag.Pontos </a>
                    </li>
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-body text-center" style="background-color:#F39C12; color:#fff">
                    Destinos Sugeridos
                </div>
                <ul class="list-group bordered-bottom">
                    @foreach (AreaProtegida a in areas) {
    					<li id="teste" class="list-group-item text-center" style="font-size:12px; visibility: visible;" onclick="getQuestao('@a.AreaProtegidaID')"> @a.AreaNome
                            <i class="fa fa-check" id="@a.AreaProtegidaID" style="visibility:hidden; margin-left:6px; color:#00ff21;"></i>
                        </li>
					}
                </ul>
            </div>
        </div>


        <div class="coluna" style="width:77%; display:block; position:absolute; right:13px;">
            <div id="map_canvas" style="height:650px;"></div>
        </div>
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2YN0hK1nUK_Pln49Z-xO3GBX9i1LHoqI&sensor=false"></script>
<script>
    var p1 = new google.maps.LatLng('@areas[0].Latitude','@areas[0].Longitude');
    var p2 = new google.maps.LatLng('@areas[1].Latitude','@areas[1].Longitude');
    var p3 = new google.maps.LatLng('@areas[2].Latitude','@areas[2].Longitude');
    var p4 = new google.maps.LatLng('@areas[3].Latitude','@areas[3].Longitude');
    var p5 = new google.maps.LatLng('@areas[4].Latitude','@areas[4].Longitude');
    var p6 = new google.maps.LatLng('@areas[5].Latitude','@areas[5].Longitude');

    var map_options = {
        center: p1, zoom: 2,
        mapTypeId: google.maps.MapTypeId.TERRAIN,
        panControl: false, zoomControl: false, mapTypeControl: true,
        scaleControl: false, streetViewControl: false,
        //overviewMapControl: boolean
    };

    var map = new google.maps.Map(document.getElementById('map_canvas'), map_options);

    function initialize() {
        /* PONTO 1*/
        var pp1 = new google.maps.Marker({ position: p1, map: map, icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png', title: 'Clique para info' });

        var contentString =
                  '<div id="content">' +
                  '<h1 id="firstHeading" class="firstHeading"> @areas[0].AreaNome , @areas[0].Pais.PaisNome </h1>' +
                  '<div id="bodyContent">' + '@areas[0].Descricao' + '</div>' + '</div>';

        var infowindow1 = new google.maps.InfoWindow({ content: contentString });

        google.maps.event.addListener(pp1, 'click', function () {
            map.setCenter(pp1.getPosition());
            //map.setZoom(6);
            infowindow1.open(map, pp1);
        });

        /* PONTO 2*/
        var pp2 = new google.maps.Marker({ position: p2, map: map, icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png', title: 'Clique para info' });

        var contentString =
                  '<div id="content">' +
                  '<h1 id="firstHeading" class="firstHeading"> @areas[1].AreaNome , @areas[1].Pais.PaisNome </h1>' +
                  '<div id="bodyContent">' + '@areas[1].Descricao' + '</div>' + '</div>';

        var infowindow2 = new google.maps.InfoWindow({ content: contentString });

        google.maps.event.addListener(pp2, 'click', function () {
            map.setCenter(pp2.getPosition());
            //map.setZoom(6);
            infowindow2.open(map, pp2);
        });

        /* PONTO 3*/
        var pp3 = new google.maps.Marker({ position: p3, map: map, icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png', title: 'Clique para info' });

        var contentString =
                  '<div id="content">' +
                  '<h1 id="firstHeading" class="firstHeading"> @areas[2].AreaNome , @areas[2].Pais.PaisNome </h1>' +
                  '<div id="bodyContent">' + '@areas[2].Descricao' + '</div>' + '</div>';

        var infowindow3 = new google.maps.InfoWindow({ content: contentString });

        google.maps.event.addListener(pp3, 'click', function () {
            map.setCenter(pp3.getPosition());
            //map.setZoom(6);
            infowindow3.open(map, pp3);
        });

        /* PONTO 4*/
        var pp4 = new google.maps.Marker({ position: p4, map: map, icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png', title: 'Clique para info' });

        var contentString =
                  '<div id="content">' +
                  '<h1 id="firstHeading" class="firstHeading"> @areas[3].AreaNome , @areas[3].Pais.PaisNome </h1>' +
                  '<div id="bodyContent">' + '@areas[3].Descricao' + '</div>' + '</div>';

        var infowindow4 = new google.maps.InfoWindow({ content: contentString });

        google.maps.event.addListener(pp4, 'click', function () {
            map.setCenter(pp4.getPosition());
            //map.setZoom(6);
            infowindow4.open(map, pp4);
        });

        /* PONTO 5*/
        var pp5 = new google.maps.Marker({ position: p5, map: map, icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png', title: 'Clique para info' });

        var contentString =
                  '<div id="content">' +
                  '<h1 id="firstHeading" class="firstHeading"> @areas[4].AreaNome , @areas[4].Pais.PaisNome </h1>' +
                  '<div id="bodyContent">' + '@areas[4].Descricao' + '</div>' + '</div>';

        var infowindow5 = new google.maps.InfoWindow({ content: contentString });

        google.maps.event.addListener(pp5, 'click', function () {
            map.setCenter(pp5.getPosition());
            //map.setZoom(6);
            infowindow5.open(map, pp5);
        });

        /* PONTO 6*/
        var pp6 = new google.maps.Marker({ position: p6, map: map, icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png', title: 'Clique para info' });

        var contentString =
                  '<div id="content">' +
                  '<h1 id="firstHeading" class="firstHeading"> @areas[5].AreaNome , @areas[5].Pais.PaisNome </h1>' +
                  '<div id="bodyContent">' + '@areas[5].Descricao' + '</div>' + '</div>';

        var infowindow6 = new google.maps.InfoWindow({ content: contentString });

        google.maps.event.addListener(pp6, 'click', function () {
            map.setCenter(pp6.getPosition());
            //map.setZoom(6);
            infowindow6.open(map, pp6);
        });
    

        //var vermelho = new google.maps.Marker({ position: p2, map: map, title: 'Responder a Desafio' });
                //Função que muda a "camara" para o ponto marcado, 3 segundos depois de mudar de sítio.
                /*google.maps.event.addListener(
                    map, 'center_changed', function(){
                        window.setTimeout( function(){map.panTo(marker.getPosition());}, 3000);
                    }
                );




                //zoom vermelho + abre pergunta
                google.maps.event.addDomListener(document.getElementById("ap1"), "click", function () {
                    map.setCenter(vermelho.getPosition());
                    map.setZoom(6);
                    //getQuestao().click();
                    //document.getElementById('question-dialog', getQuestao).click();
                });



               
                //Janela de info no azul
                google.maps.event.addListener(
                    azul, 'click', function () {
                        infowindow.open(map, azul); 
                    }
                );

                //Janela de info no azul
                google.maps.event.addListener(
                    vermelho, 'click', function () {
                        infowindow.open(map, vermelho);
                    }
                );

                //linha vermelha
                var flightPlanCoordinates = [p1, p2, p3];

                var flightPath = new google.maps.Polyline({
                    path: flightPlanCoordinates,
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });

                flightPath.setMap(map);*/
            }
    google.maps.event.addDomListener(window, 'load', initialize); 
</script>