@model IEnumerable<Animais360.Models.User>
@using Animais360.Models

@{
    ViewBag.Title = "Gerir";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}

<div class="content">
    <div class="content-header">
        <h2 class="content-title"><i class="sidebar-icon fa fa-group"></i> Gerir Utilizadores</h2>
    </div>
    <div class="content-body">
        <div id="panel-tablesorter" class="panel panel-default">
            <div class="panel-heading bg-white">
                <div class="panel-actions">
                     <a href="@Url.Action("Create","User")" style="color:#333; text-decoration:none;">
                        <li class="btn-panel">
                            <i class="fa fa-plus"></i>&nbsp&nbspAdicionar Admin
                        </li>
                     </a>
                </div>
                <h3 class="panel-title" style="color:#F39C12; width:250px;">Gerir Utilizadores</h3>

            </div>

            <div class="panel-body">
                <div class="table-responsive table-responsive-datatables">
                    <table class="tablesorter table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome de Utilizador</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        
                        @foreach (var item in Model) {
                        <tbody>
                            <tr>
                                <td> @item.UserId </td>
                                <td> @item.UserName </td>
                                <td> @item.Tipo </td>
                                <td style="padding:3px; width:28%; text-align:center">
                                    <div class="">
                                         <a href="@Url.Action("Perfil", "User")/@item.UserId" style="color:white; text-decoration:none">
                                            <li class="btn btn-success">
                                                <i class="fa fa-eye fa-fw"></i>&nbspVer Perfil
                                            </li>
                                        </a>

                                             <a href="@Url.Action("Edit","User")/@item.UserId" style="color:white; text-decoration:none">
                                                <li class="btn btn-info">
                                                    <i class="fa fa-pencil fa-fw"></i>&nbspEditar
                                                </li>  
                                            </a>
                                        
                                        @{
                                            bool banido = false;
                                            if (@item.Estado != 0)
                                            {
                                            banido = true;
                                            }
                                        }
                                        @if(!banido){
                                            <a href="@Url.Action("Editar","User")/@item.UserId" style="color:white;text-decoration:none">
                                        <li class="btn btn-danger">
                                            
                                                <i class="fa fa-trash-o fa-fw"></i>&nbspBanir
                                            
                                        </li></a>}
                                        else{
                                        
                                            <a href="@Url.Action("Editar","User")/@item.UserId" style="color:white">
                                                <li class="btn btn-warning" style="width:80px;">
                                                <i class="fa fa-check-circle" style="margin-left:0px;"> Ativar</i>
                                                     </li>
                                            </a>
                                       
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        }

                        <tfoot>
                            <tr>
                                <th colspan="6" class="ts-pager form-horizontal">
                                    <button type="button" class="btn btn-default btn-sm first"><i class="icon-step-backward fa fa-angle-double-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm prev"><i class="icon-arrow-left fa fa-angle-left"></i></button>
                                    <span class="pagedisplay"></span>
                                    <button type="button" class="btn btn-default btn-sm next"><i class="icon-arrow-right fa fa-angle-right"></i></button>
                                    <button type="button" class="btn btn-default btn-sm last"><i class="icon-step-forward fa fa-angle-double-right"></i></button>
                                    <select class="pagesize input-sm" title="Select page size">
                                        <option value="5" selected="selected">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                    </select>
                                    <select class="pagenum input-sm" title="Select page number"></select>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>