@model Animais360.Models.User
@using Animais360.Models
@{
    IList<User> Users = ViewBag.Users;
    IList<Classificacao> Classificacoes = ViewBag.Classificacoes;
}

<div class="content">
    <div class="content-header">
        <h2 class="content-title"><i class="fa fa-dashboard"></i>Dashboard</h2>
    </div>
    <div class="content-body">
        <div id="panel-tablesorter" class="panel panel-default">
            <div class="panel-heading bg-white">
                <h3 class="panel-title" style="color:#F39C12">Tabela Geral de Classificação</h3>
            </div>

            <div class="panel-body">
                <div class="table-responsive table-responsive-datatables">
                    <table class="tablesorter table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Nome Utilizador</th>
                                <th>Pontuação Máxima</th> <!--A-->
                                <th>Voltas Realizadas</th>
                                <th>Jogos Realizados</th>
                                <th>Número de Derrotas</th>
                            </tr>
                        </thead>

                        <tbody>
                            
                            @foreach (User u in Users){
                                <tr>
                                <td> @u.UserName </td>

                                <td> @u.NrJogos </td>
                                <td> @u.NrVoltas </td>
                                <td class="center"> @u.NrJogos </td>
                                <td class="center"> XXX </td>
                            </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                <th colspan="6" class="ts-pager form-horizontal">
                                    <button type="button" class="btn btn-default btn-sm first"><i class="icon-step-backward fa fa-angle-double-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm prev"><i class="icon-arrow-left fa fa-angle-left"></i></button>
                                    <span class="pagedisplay"></span>
                                    <button type="button" class="btn btn-default btn-sm next"><i class="icon-arrow-right fa fa-angle-right"></i></button>
                                    <button type="button" class="btn btn-default btn-sm last"><i class="icon-step-forward fa fa-angle-double-right"></i></button>
                                    <select class="pagesize input-sm" title="Select page size">
                                        <option value="5" selected="selected">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                    </select>
                                    <select class="pagenum input-sm" title="Select page number"></select>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!--table-responsive-->

                <div class="divider-content">
                    <span></span>
                </div>

                <div class="col-md-3 col-sm-6">
		                    		<div class="hidden-sm hidden-xs box no-border no-shadow text-center bg-cloud">
		            					<p class="float-shadow">
		            						<i class="fa fa-tasks text-64 text-info"></i>
		            					</p>
		            					<p class="text-muted">X Utilizadores Registados</p>
		                    		</div>

		                    		<div class="hidden-lg hidden-md box no-border no-shadow text-center bg-cloud">
		                    			<ul class="row">
		            						<li class="col-xs-3 col-md-4 helper-block-xs absolute-center">
		            							<div class="absolute-center-item">
		            								<p class="float-shadow">
		            									<i class="fa fa-tasks text-64 text-info"></i>
		            								</p>
		            							</div>
		            						</li>
		            						<li class="col-xs-9 col-md-8 helper-block-xs absolute-center">
		            							<div class="absolute-center-item" style="width:100%">
			            							<p class="text-left text-ellipsis lead">X Utilizadores Registados</p>
		            							</div>
		            						</li>
		            					</ul>
		                    		</div>
		                    	</div>

                <div class="col-md-3 col-sm-6">
		                    		<div class="hidden-sm hidden-xs box no-border no-shadow text-center bg-cloud">
		            					<p class="float-shadow">
		            						<i class="fa fa-clock-o text-64 text-warning"></i>
		            					</p>
		            					<p class="text-muted">X Voltas ao Mundo</p>
		                    		</div><!--/as feature item-->

		                    		<div class="hidden-lg hidden-md box no-border no-shadow text-center bg-cloud">
		                    			<ul class="row">
		            						<li class="col-xs-3 col-md-4 helper-block-xs absolute-center">
		            							<div class="absolute-center-item">
		            								<p class="float-shadow">
		            									<i class="fa fa-clock-o text-64 text-warning"></i>
		            								</p>
		            							</div>
		            						</li>
		            						<li class="col-xs-9 col-md-8 helper-block-xs absolute-center">
		            							<div class="absolute-center-item" style="width:100%">
			            							<p class="text-left text-ellipsis lead">@ViewBag.nVoltas Voltas ao Mundo</p>
		            							</div>
		            						</li>
		            					</ul>
		                    		</div>
		                    	</div>


                <div class="col-md-3 col-sm-6">
		                    		<div class="hidden-sm hidden-xs box no-border no-shadow text-center bg-cloud">
		            					<p class="float-shadow">
		            						<i class="fa fa-bar-chart-o text-64 text-primary"></i>
		            					</p>
		            					<p class="text-muted">Mais de X Perguntas</p>
		                    		</div>

		                    		<div class="hidden-lg hidden-md box no-border no-shadow text-center bg-cloud">
		                    			<ul class="row">
		            						<li class="col-xs-3 col-md-4 helper-block-xs absolute-center">
		            							<div class="absolute-center-item">
		            								<p class="float-shadow">
		            									<i class="fa fa-bar-chart-o text-64 text-primary"></i>
		            								</p>
		            							</div>
		            						</li>
		            						<li class="col-xs-9 col-md-8 helper-block-xs absolute-center">
		            							<div class="absolute-center-item" style="width:100%">
			            							<p class="text-left text-ellipsis lead">Realtime Report</p>
		            							</div>
		            						</li>
		            					</ul>
		                    		</div>
		                    	</div>

                <div class="col-md-3 col-sm-6">
		                    		<div class="hidden-sm hidden-xs box no-border no-shadow text-center bg-cloud">
		            					<p class="float-shadow">
		            						<i class="fa fa-heart text-64 text-danger"></i>
		            					</p>
		            					<p class="text-muted">Protege os animais</p>
		                    		</div>

		                    		<div class="hidden-lg hidden-md box no-border no-shadow text-center bg-cloud">
		                    			<ul class="row">
		            						<li class="col-xs-3 col-md-4 helper-block-xs absolute-center">
		            							<div class="absolute-center-item">
		            								<p class="float-shadow">
		            									<i class="fa fa-heart text-64 text-danger"></i>
		            								</p>
		            							</div>
		            						</li>
		            						<li class="col-xs-9 col-md-8 helper-block-xs absolute-center">
		            							<div class="absolute-center-item" style="width:100%">
			            							<p class="text-left text-ellipsis lead">Protege os animais</p>
		            							</div>
		            						</li>
		            					</ul>
		                    		</div>
		                    	</div>

            </div><!--panel-body-->
        </div>
    </div>
</div>
