@model Animais360.Models.RegisterModel
@{
    ViewBag.Title = "Registar";
}

<header class="header" style="height:80px;">
    <div class="header-brand" style="margin-left:520px; margin-top:12px;">
        <img class="brand-logo" src="/../images/logo.png" alt="Animais 360">
    </div>
</header>

<div class="content content-full">
    <div class="container">
        <div class="signin-wrapper">
            <div class="tab-content">
                <div class="row tab-pane fade in active" id="signin">
                    <div class="col-md-offset-5">

                        <div class="signup" id="signup">
                            <h1 class="text-lead">Regista-te</h1>
                            <p>Se já tens conta entra<a href="@Url.Action("Login","User")"> aqui</a>.</p>

                            @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "signup-form" }))
                            {
                                <div class="row">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary()

                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.UserName, new { @class = "control-label text-inverse" })
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id = "UserName", required = "", autocomplete = "on" })
                                            <p class="helper-block text-muted"><small>Deve conter letras, dígitos e símbolos. Mínimo de 8 caracteres.</small></p>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "control-label text-inverse" })
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "Email", required = "", autocomplete = "off" })
                                            <p class="helper-block text-muted"><small> Receberás um e-mail de confirmação.</small></p>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "control-label text-inverse" })
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "", name = "Password" })
                                            <p class="helper-block text-muted"><small>Mínimo de 8 caracteres.</small></p>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label text-inverse" })
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "ConfirmPassword", name = "ConfirmPassword" })
                                            <p class="helper-block text-muted"><small>Digita a password novamente.</small></p>
                                        </div>
                                        <div class="form-group form-actions">
                                            <input type="submit" class="btn btn-primary" value="Criar conta">
                                        </div><!--/form-group-->
                                    </div><!--/cols-->
                                </div><!--/row-->
                            }
                        </div>
                        <!-- Registar-->
                    </div>

                    <!-- Rodapé -->
                    <div class="signin-footer">
                        <ul class="list-inline">
                            <li>Animais 360&copy;</li>
                            <li>@Html.ActionLink("Regressar à Página Inicial", "Index", "Home")</li>
                        </ul>
                    </div>
                    <!-- Rodape-->
                </div>
            </div>
        </div>
    </div>
</div>