@model IEnumerable<Animais360.Models.Continente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContinenteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContinenteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContinenteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContinenteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContinenteId })
        </td>
    </tr>
}

</table>
